
.date-box{
  background-color: transparent;
}

.date-wallpaper {
  //background-color: transparent;
  &.background{
    background: none;
  }
}

window {
  background-color: transparent;
  border: none;  // optional: removes border
}

.day-name {
  background-color: transparent;
  font-size: 150px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.date-time {
  background-color: transparent;
  font-size: 82px;
  margin: 0;
  padding: 0;
}

.test {
  background-color: gray;
  padding:12px;
  font-size: 54px;
}

/*asdkasldjas */
.window-list {
  background-color: white;
  padding: 50px 100px;
}

button {
  background-color: #4c566a;
  border-radius: 6px;
  border: none;
  padding: 4px 12px;
  color: #d8dee9;
  font-weight: 600;
}

button.focused {
  background-color: #88c0d0;
  color: #2e3440;
}
