* {
  all: unset;
  font-family: "FiraCode Nerd Font", monospace;
  color: #ffffff;
}

.clock-box {
  background-color: rgba(20, 20, 20, 0.5);
  padding: 12px 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.clock-time {
  font-size: 36px;
  font-weight: bold;
}

.clock-date {
  font-size: 16px;
  color: #bbbbbb;
}
