/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #020304 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #bfc0c0; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #bfc0c0; background-color: rgba(136,182,227,0.4)}
.cm-s-nqqwal { background-color: #020304; color: #bfc0c0; }
.cm-s-nqqwal span.cm-builtin { color: #5494E4; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #414242; }
.cm-s-nqqwal span.cm-keyword { color: #659FE1; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #6FB0F0; }
.cm-s-nqqwal span.cm-def { color: #7CBDF4; }
.cm-s-nqqwal span.cm-variable { color: #88B6E3; }
.cm-s-nqqwal span.cm-variable-2 { color: #7CBDF4; }
.cm-s-nqqwal span.cm-string { color: #5494E4; }
.cm-s-nqqwal span.cm-string-2 { color: #5494E4; }
.cm-s-nqqwal span.cm-number { color: #7CBDF4; }
.cm-s-nqqwal span.cm-tag { color: #659FE1; }
.cm-s-nqqwal span.cm-property { color: #88B6E3; }
.cm-s-nqqwal span.cm-attribute { color: #88B6E3; }
.cm-s-nqqwal span.cm-qualifier { color: #6FB0F0; }
.cm-s-nqqwal span.cm-meta { color: #7CBDF4; }
.cm-s-nqqwal span.cm-header { color: #659FE1; }
.cm-s-nqqwal span.cm-operator { color: #659FE1; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(124,189,244,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #659FE1; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #020304); }
